In [ ]:
!pip install mysql-connector-python
import mysql.connector
mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Pikachu@255666",
        database="telecom_db"
        )

In [ ]:
mydb

In [ ]:
print(dir(mydb))

In [ ]:
print(mydb)

In [ ]:
mycursor = mydb.cursor()

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

In [ ]:
## Total Call Duration for Each Customer

In [ ]:
query = """
SELECT CustomerID, SUM(Duration) AS TotalDuration FROM CallRecords GROUP BY CustomerID;
"""
df = pd.read_sql(query, con = mydb)

In [ ]:
df.head()

In [ ]:
mycursor.execute(query)
mycursor.fetchall()

In [ ]:
## Average Call Duration by Call Type
average_call_duration = "SELECT CallDate, COUNT(*) AS TotalCalls, AVG(Duration) AS AvgDuration FROM CallRecords GROUP BY CallDate; """

In [ ]:
mycursor.execute(average_call_duration)

In [ ]:
mycursor.fetchall()

In [ ]:
## Top 5 Customers by Total Call Duration
query= "SELECT CustomerID, SUM(Duration) AS TotalDuration FROM CallRecords GROUP BY CustomerID ORDER BY TotalDuration DESC LIMIT 5"

In [ ]:
mycursor.execute(query)
mycursor.fetchall()

In [ ]:
## Number of Calls and Average Duration per Day
query = "SELECT CallDate, COUNT(*) AS TotalCalls, AVG(Duration) AS AvgDuration FROM CallRecords GROUP BY CallDate;"
mycursor.execute(query)

In [ ]:
mycursor.fetchall()

In [ ]:
## Monthly Call Volume Trends
query = "SELECT EXTRACT(YEAR_MONTH FROM CallDate) AS YearMonth, COUNT(*) AS TotalCalls FROM CallRecords GROUP BY YearMonth ORDER BY YearMonth;"

In [ ]:
mycursor.execute(query)
mycursor.fetchall()

In [ ]:
## Customers Without Any Calls
customers_without_calls = "SELECT c.CustomerID, c.FirstName, c.LastName FROM Customers AS c LEFT JOIN CallRecords r ON c.CustomerID = r.CustomerID WHERE r.CustomerID IS NULL;"

In [ ]:
mycursor.execute(customers_without_calls)
mycursor.fetchall()

In [ ]:
## Total Calls and Total Duration by Customer and Plan
query = " SELECT c.CustomerID, p.PlanName, COUNT(r.RecordID) AS TotalCalls, SUM(r.Duration) AS TotalDuration FROM Customers c JOIN CallRecords r ON c.CustomerID = r.CustomerID JOIN ServicePlans p ON c.PlanID = p.PlanID GROUP BY c.CustomerID, p.PlanName;"

In [ ]:
mycursor.execute(query)

In [ ]:
## Customers with Over 100 Minutes of Calls in a Single Day
query="""
SELECT CustomerID, CallDate, SUM(Duration) AS TotalDuration
FROM CallRecords
GROUP BY CustomerID, CallDate
HAVING TotalDuration > 100;"""

In [ ]:
mycursor.execute(query)

In [ ]:
mycursor.fetchall()

In [ ]:
mydb.is_closed()

In [ ]:
mydb.close()

In [ ]:
mydb.is_closed()

In [ ]:
mydb.connect()

In [ ]:
mydb.is_closed()